* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.nav__menu.show {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gradient {
  background-image: linear-gradient(45deg, #000000b8, transparent);
}

.hide {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 0;
  width: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

p {
  font-size: 1.9rem;
  line-height: 150%;
  letter-spacing: 0.6px;
  color: #9698a6;
}

h2 {
  color: #2d314d;
  font-weight: 300;
  font-size: 4rem;
}

.button {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 1rem;
  height: 58%;
  width: 14rem;
  font-size: 1.5rem;
  background-color: cyan;
  border-radius: 20px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button::after {
  content: "";
  z-index: 1;
  height: 100%;
  position: absolute;
  width: 10%;
  right: -10%;
  border-radius: 2rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#31d35c), to(#4b2bda));
  background-image: linear-gradient(to left, #31d35c, #4b2bda);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.button:hover::after {
  -webkit-transform: translateX(-20rem);
          transform: translateX(-20rem);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__menu {
  z-index: 100;
  height: 100%;
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__items {
  height: 100%;
  font-size: 1.6rem;
  color: #9698a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.nav__links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  position: relative;
  color: #9698a6;
  text-decoration: none;
}

.nav__links:after {
  content: "";
  position: absolute;
  height: 100%;
  border-bottom: 0.4rem solid;
  width: 0;
  bottom: 0;
  left: 0;
  -o-border-image: linear-gradient(to right, #31d35c, #2bb7da) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da)) 1;
     border-image: linear-gradient(to right, #31d35c, #2bb7da) 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__links:hover::after {
  width: 100%;
}

.nav__links:hover {
  color: black;
}

.nav__cross {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 10;
  border: none;
  display: none;
}

.nav__hamburger {
  cursor: pointer;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero {
  background-color: #fafafa;
  position: relative;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-clip-path: inset(0 -100vh -100vh 0);
          clip-path: inset(0 -100vh -100vh 0);
}

.hero__main_heading {
  font-size: 6rem;
  font-weight: 500;
  width: 35%;
  margin-bottom: 3rem;
  color: #2d314d;
}

.hero__info {
  font-size: 1.9rem;
  line-height: 150%;
  letter-spacing: 0.6px;
  color: #9698a6;
  width: 35%;
}

.hero__images {
  width: 100%;
}

.hero__image {
  position: absolute;
  width: 113%;
  height: 157%;
  right: -50%;
  top: -33%;
}

.hero__mobiles_image {
  position: absolute;
  right: -10%;
  top: -15%;
  width: 52%;
  height: 142%;
}

.hero__button {
  height: 4.5rem;
  margin-top: 4rem;
}

.bank_functions {
  background-color: #f3f4f6;
}

.functions {
  padding: 11rem 0;
}

.functions__heading {
  color: #2d314d;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.functions__info {
  width: 50%;
  margin-bottom: 5rem;
}

.functions__all_functions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.all_functions__image {
  height: 9rem;
  width: 9rem;
}

.all_functions__heading {
  font-size: 2.4rem;
  margin: 3rem 0;
}

.all_functions__info {
  font-style: 1.8rem;
  letter-spacing: normal;
}

.articles_section {
  background-color: #fafafa;
}

.articles {
  padding: 11rem 0;
}

.articles__heading {
  margin-bottom: 5rem;
}

.articles__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.articles__single_article {
  background-color: #fff;
}

.articles__image {
  height: 50%;
  width: 100%;
}

.articles__detail {
  padding: 3rem;
}

.articles__author {
  font-size: 1.2rem;
  color: #9698a6;
  margin: -0.5rem 0 1rem 0;
}

.articles__topic {
  font-size: 1.6rem;
  color: #2d314d;
  font-weight: 200;
  margin-bottom: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.articles__topic:hover {
  color: #2bb7da;
}

.articles__main {
  font-size: 1.3rem;
  color: #9698a6;
}

.footer_links {
  background-color: #2d314d;
  padding: 4rem;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 5rem;
}

.footer__logo {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 4rem;
}

.footer__logo figure {
  height: 3rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer__social_links {
  list-style: none;
}

.footer__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  place-items: center;
}

.footer__links {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__links:hover {
  color: #2bb7da;
}

.footer__button {
  width: 22rem;
}

.footer__rights {
  margin-top: 3rem;
  font-size: 1.5rem;
}

@media (max-width: 1150px) {
  html {
    font-size: 53%;
  }
}

@media (max-width: 950px) {
  .container {
    width: 90%;
  }
  .hero__main_heading,
  .hero__info {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .hero {
    height: 100vh;
    overflow-x: hidden;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__heading {
    width: 90vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero__main_heading, .hero__info {
    margin: auto;
    width: 61%;
  }
  .hero__images {
    height: 60vh;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero__image {
    width: 154%;
    height: 92%;
    right: -33%;
    top: -33%;
  }
  .hero__mobiles_image {
    position: absolute;
    right: 8%;
    top: -17%;
    width: 85%;
    height: 76%;
  }
  .hero__button {
    margin: 4rem auto 4.3rem auto;
    min-width: 20rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 30%;
  }
  .footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 4rem;
  }
}

@media (max-width: 850px) {
  .functions__all_functions,
  .articles__wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 680px) {
  .hero__main_heading,
  .hero__info {
    margin: auto;
    width: 80%;
    text-align: center;
  }
  .hero__main_heading {
    margin: 0 0 1.5rem 0;
  }
  .nav {
    position: relative;
  }
  .nav__cross {
    display: block;
    border: none;
  }
  .nav__request_button {
    display: none;
  }
  .nav__menu {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateY(-134%);
            transform: translateY(-134%);
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: 365px;
    z-index: 3;
    padding: 3rem;
    text-align: center;
    border-radius: 0.8rem;
    top: 130%;
  }
  .nav__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__links {
    font-size: 2rem;
    color: #2d314d;
  }
  h2 {
    width: 100% !important;
  }
  p {
    width: 100% !important;
  }
}

@media (max-width: 525px) {
  .functions__all_functions,
  .articles__wrapper,
  .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .functions {
    text-align: center;
  }
  .all_functions__image {
    margin: auto;
  }
  .footer {
    gap: 4rem;
  }
  .footer__items {
    place-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__right_side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articles__main {
    font-size: 1.5rem;
  }
  .hero__main_heading,
  .hero__info {
    margin: auto;
    width: 90%;
    text-align: center;
  }
  .hero__main_heading {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .hero__info {
    margin: 0;
  }
  .hero__image {
    width: 154%;
    height: 97%;
    right: -29%;
    top: -35%;
  }
  .hero__mobiles_image {
    right: 8%;
    top: -10%;
    width: 77%;
    height: 56%;
  }
}
/*# sourceMappingURL=style.css.map */